<mat-drawer-container class="example-container mat-typography" *ngIf="sesion$ | async as sesion">
  <mat-drawer  #drawer mode="side" disableClose="true" opened="true">
    <mat-nav-list >
      <mat-list-item >
        <div class="mat-list" routerLink="inicio">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 >Home</h4>
        </div>
      </mat-list-item>
			<mat-list-item >
        <div class="mat-list" (click)="logout()">
          <mat-icon mat-list-icon>login</mat-icon>
				  <h4>Ingresar</h4>
        </div>
			</mat-list-item>
      <mat-list-item >
        <div class="mat-list"  *ngIf="sesion.sesionActiva" routerLink="/cursos/card">
          <mat-icon mat-list-icon>folder</mat-icon>
				  <h4>Cursos</h4>
        </div>
			</mat-list-item>

		</mat-nav-list>
	</mat-drawer>

  <router-outlet></router-outlet>


</mat-drawer-container>



